
.header-container{
    display: flex;
    height: 300px;
    width: 100%;
    color: rgb(255, 255, 255);
    background-image: url("https://i.pinimg.com/originals/21/5e/e3/215ee38b7e2960857f7a1b26a247904c.jpg");
    background-size: cover;
    background-position:center;
    align-items: center;
}

h1 {
    margin-left: 50px;
    font-size: 64px;
}